/* CSS declarations go here */
html {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0px;
  background: #eee;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

.bert-alert.success {
  background: grey;
  color: #fff;
}

.bert-alert.danger {
  background: #E0162B;
  color: #fff;
}

.griddle {
    padding: 10px;
}
.grid-list-item {
  padding: 20px 15px;
  float: left;
  border-bottom: 1px solid lighten('#000', 90%);

}